/* You can add global styles to this file, and also import other style files */
body {
  color: darkgrey;
}

h1 {
  color: #222;
}

h2 {
  color: #333;
}

app-root {
  display: block;
  width: 1024px;
  margin: auto;
}
